.admin-sidebar{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 240px;
  padding: 20px;
  font-size: 14px;
  background-color: #fff;
  position: fixed;
  height: 100vh;
  text-transform: capitalize;
  li:hover{
    text-decoration: underline;
  }
}